// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// font colors
$black : #000;
$white : #fff;
$primary : #fafafa;
$title-primary: rgba(0, 0, 0, 0.05);
$text-primary: rgba(0, 0, 0, 0.805);
$title: #f0f0f0;
$text-link: #CA82F8;
$text-light: rgba(0, 0, 0, 0.402);


// font sizes
$text-lg : 60px;
