@media (max-width:995px) {
    .services-img-info-wrapper{
        img{
            display: none;
        }
        .services-info{
            .services-list{
                >p{
                    display: none;
                }
            }
        }
    }
}
@media (min-width:995px) {
    .home-container{
        max-width: 1476px;
        margin: 0 auto;
        .header{
            margin-right: 0;
            max-width: 1170px;
        }
    }
    
    .section-title{
        position: relative;
        display: flex;
        justify-content: center;
        // margin-top: 150px;
        h1{
            font-size: 250px;
            position: absolute;
        }
    }
.intro-img-info-container{
    margin-top: 160px;
    display: flex;
    width: 100%;
    gap: 100px;
    // flex-direction: row;
    .image-section{
        min-width: 458px;
        // margin-right: 120px;
        // height: 656px;
        img{
            width: 458px;
            height: 556px;
            object-fit: cover;
        }
    }
    .intro-section{
        display: flex;
        flex-direction: column;
        width: 555px;
        .intro-title{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            // margin-left: 70px;
            h1{
                font-size: 50px;
                font-family: 'Playfair1';
            }
        }
        .intro-about{
            .text-trans {
                text-transform: uppercase;
                transform: rotate(90deg) translateY(115px) translateX(-55px);
                color: gray;
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 16px;
          
                &:after {
                  content: "";
                  display: inline-block;
                  background-color: $text-primary;
                  height: 1px;
                  width: 70px;
                  transform: translateX(130px) translateY(-20px);
                }
              }
            .intro-info{
                p{
                    width: 459px;
                }
            }
        }
    }
}
    .intro-paragraph{
        display: flex;
        p{

            width: 389px;
            padding: 0 15px;
        }
    }
    .home-container{
        background-color: #fafafa;
        max-width: 1276px;
        // border: 5px solid red;
        .section-testimonials{
h1{
    font-size: 250px;
    margin-left: -110px;
    &::after{
        top: 170px;
        right: -120px;
    }
}
h2{
    margin-top: -120px;
}
        }
      
    }
.services-section{
    h1{
        font-size: 250px;
        
    }
}
    .services-img-info-wrapper{
        position: relative;
        display: flex;
        justify-content: flex-start;


        img{
            // position: absolute;
            width: 513px;
            object-fit: cover;
            margin-top: -130px;
            
        }
        .services-info{
            margin-top: -180px;
            margin-left: 30px;
            width: 625px;
            .services-list{
                p{
                    width: 595px;
          font-weight: 400;
          font-family: 'Karla';
          font-size: 16px;
          line-height: 1.8;
          color: gray;
          margin-bottom: 80px;
                }
                .item-container{
                    p{
                        margin: 0;
                        width: 595px;
                    }
                }
            }
        }
    }
}


@media (min-width:768px) and (max-width:995px){
    .services-section{
        .services-img-info-wrapper{
         .services-info{
            .services-list{
                p{
                    display: block;
                    font-weight: 400;
          font-family: 'Karla';
          font-size: 16px;
          line-height: 1.8;
          color: gray;
          margin-bottom: 55px;
                }
                .item-container{
                    p{
                        width: 688px;
                    }
                }
            }
         }   
        }
    }
    
    .intro-img-info-container{
        
        .image-section{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                display: block;
            }
        }
        .intro-section{
            .intro-about{
                display: flex;
                justify-content: flex-start;
                .text-trans {
                    text-transform: uppercase;
                    transform: rotate(90deg) translateY(150px) translateX(-45px);
                    color: $text-primary;
                    font-weight: 100;
                    font-size: 15px;
                    letter-spacing: 16px;
              
                    &:after {
                      content: "";
                      display: inline-block;
                      background-color: $text-primary;
                      height: 1px;
                      width: 60px;
                      transform: translateX(120px) translateY(-20px);
                    }
                  }
                .intro-info{
                    margin-left: -50px;
                    p{
                        width:624px ;
                    }
                }
            }

        }
    }
    .intro-paragraph{
        p{
            width: 100%;
            max-width: 700px;
        }
    }
}