@media (max-width:995px) {
    .services-img-info-wrapper{
        img{
            display: none;
        }
        .services-info{
            .services-list{
                >p{
                    display: none;
                }
            }
        }
    }
}
@media (min-width:995px) {
    .home-container{
        max-width: 1476px;
        margin: 0 auto;
        .header{
            margin-right: 0;
            max-width: 1170px;
        }
    }
    
    .section-title{
        position: relative;
        display: flex;
        justify-content: center;
        // margin-top: 150px;
        h1{
            font-size: 250px;
            position: absolute;
        }
    }
.intro-img-info-container{
    margin-top: 160px;
    display: flex;
    .image-section{
        img{
            width: 457px;
            // height: 100%;
            object-fit: cover;
        }
    }
    .intro-section{
        .intro-title{
            margin-left: 70px;
            h1{
                font-size: 50px;
                font-family: 'Playfair1';
            }
        }
        .intro-about{
            .text-trans {
                text-transform: uppercase;
                transform: rotate(90deg) translateY(115px) translateX(-15px);
                color: gray;
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 16px;
          
                &:after {
                  content: "";
                  display: inline-block;
                  background-color: $text-primary;
                  height: 1px;
                  width: 70px;
                  transform: translateX(15px) translateY(-5px);
                }
              }
            .intro-info{
                p{
                    width: 459px;
                }
            }
        }
    }
}
    .intro-paragraph{
        display: flex;
        p{

            width: 389px;
            padding: 0 15px;
        }
    }
    .home-container{
        background-color: white;
        max-width: 1276px;
        // border: 5px solid red;
        .section-testimonials{
h1{
    font-size: 250px;
    margin-left: -110px;
    &::after{
        top: 170px;
        right: -120px;
    }
}
h2{
    margin-top: -120px;
}
        }
      
    }
.services-section{
    h1{
        font-size: 250px;
        
    }
}
    .services-img-info-wrapper{
        position: relative;
        display: flex;
        justify-content: flex-start;


        img{
            // position: absolute;
            width: 513px;
            object-fit: cover;
            margin-top: -130px;
            
        }
        .services-info{
            margin-top: -180px;
            margin-left: 30px;
            width: 625px;
            .services-list{
                p{
                    width: 595px;
          font-weight: 400;
          font-family: 'Karla';
          font-size: 16px;
          line-height: 1.8;
          color: gray;
          margin-bottom: 80px;
                }
                .item-container{
                    p{
                        margin: 0;
                        width: 595px;
                    }
                }
            }
        }
    }
}