@media (min-width:768px) and (max-width:995px){
    .home-container{
        max-width: 720px;
    }
    .contact-section{
        margin-top: -30px;
        h1{
            font-size: 60px;
        }
        .contact-container{
            .contact-info{
                padding-left: 0;
.contact-items{
    .contact-item{
        // width: 720px;
    }
}
          }
          
    }
}.footer{
    padding-bottom: 128px;

}
}




@media (min-width:995px) {
    .home-container{
      max-width: 1276px;
      margin: 0 auto;
      padding: 0 30px;
      background-color: #fafafa;
    }
  
    .contact-section{
      margin-top: -120px;
      .contact-container{
        display: flex;
        justify-content: space-between;
        align-items:flex-start;      // gap: 75px;
        margin-top:140px;
        margin-left: auto;
        margin-right: auto;
        max-width: 970px;
  
      }
      .contact-info{
        margin-left: 40px;
        h3{
          margin: 0;
          margin-bottom: 30px;
          line-height: 1.8;
          color: rgba(78, 77, 77, 0.837);
        }
        .contact-items{
          .contact-item{
            p{
              color: gray;
              width: 220px;
              span{
                display: block;
                margin-top: 10px;
              }
            }
          }
        }
      }
      .contact-form{
        // flex-grow: 1;
        width: 535px;
        // margin-right: 10px;
        // margin-left: 120px;
        margin-top:0 ;

      }
    }
    .section-footer-container{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 350px;
      // margin-left: 45px;
      // margin-right: 45px;
  .section-contact{
    max-width: 294px;
    margin-top: 0;
    h2{
      margin-top: 0;
    }
  }
  .section-latest-blog{
    margin-top: 0;
    h1{
      margin-top: 0;
    }
  }
  .section-newsletter{
    margin-top: 0;
    max-width: 359px;
  
    h2{
      margin-top: 0;
    }
    
  }
  }
  .footer{
    padding-bottom: 120px;
  }
  .section-testimonials {
    .quote-container{
      .quote{
        p{
          min-width: 1100px;
        }
      }
    }
  }
  .section-blog{
    .blog-items{
      .blog-item{
        >p{
          width: 360px;
  
        }
        .blog-image{
          .image-wrapper{
            img{
              width: 360px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  }